#avion{
  position: fixed;
  transform-origin: 50% 50%;
  background-color: black;
  opacity: 0.03;
  /*background-image: url('http://brasspackers.org/paperplane/avion/avion8.png');*/
  width: 80px;
  height: 80px;
  top: 0;
  left: 0;
}
#avion img{
  position: absolute;
  top: -40px;
  left: -40px;
  width: 80px;
  height: 80px;
  background-color: black;
  opacity: 0.03;
}

#theater-background{
  -webkit-transition-duration: 0s !important;
  transition-duration: 0s !important;
}

.html5-video-player,
.html5-player-chrome {
  background-color: transparent !important;
}

#player-api{
  background-color: #1B1B1B;
}

.ytp-button-bling{
  width: 20px;
  height: 29px;
  float: right !important;
  color: rgb(142, 142, 142);
  text-shadow: 0px 1px 0px black;
}


